<div class="box">
  <div class="setPadding">
    <div class="title">文章</div>
    <div class="description">细看镜雨花落，远观离人泪落</div>
  </div>
  <div class="lists">

    <div class="list">
      <div class="img">
        <img src="../../../assets/img/fj.jpg" alt="">
      </div>
      <div class="articleNameBox">
        <span class="articleName">article name</span>
      </div>
      <div class="moreDetail">
        <div class="detailBox">
          <mat-icon class="iconSize">visibility</mat-icon>
          <span class="smallLeft">300</span>
        </div>
        <div class="detailBox moreLeft">
          <mat-icon class="iconSize">announcement</mat-icon>
          <span class="smallLeft">2</span>
        </div>
        <div class="grow"></div>
        <div class="me">
          <div class="MinePhoto">
            <img src="../../../assets/img/fj.jpg" alt="">
          </div>
          <div class="mineName">david</div>
        </div>
      </div>
    </div>

    <div class="list">
      <div class="img">
        <img src="../../../assets/img/fj.jpg" alt="">
      </div>
      <div class="articleNameBox">
        <span class="articleName">article name</span>
      </div>
      <div class="moreDetail">
        <div class="detailBox">
          <mat-icon class="iconSize">visibility</mat-icon>
          <span class="smallLeft">300</span>
        </div>
        <div class="detailBox moreLeft">
          <mat-icon class="iconSize">announcement</mat-icon>
          <span class="smallLeft">2</span>
        </div>
        <div class="grow"></div>
        <div class="me">
          <div class="MinePhoto">
            <img src="../../../assets/img/fj.jpg" alt="">
          </div>
          <div class="mineName">david</div>
        </div>
      </div>
    </div>

    <div class="list">
      <div class="img">
        <img src="../../../assets/img/fj.jpg" alt="">
      </div>
      <div class="articleNameBox">
        <span class="articleName">article name</span>
      </div>
      <div class="moreDetail">
        <div class="detailBox">
          <mat-icon class="iconSize">visibility</mat-icon>
          <span class="smallLeft">300</span>
        </div>
        <div class="detailBox moreLeft">
          <mat-icon class="iconSize">announcement</mat-icon>
          <span class="smallLeft">2</span>
        </div>
        <div class="grow"></div>
        <div class="me">
          <div class="MinePhoto">
            <img src="../../../assets/img/fj.jpg" alt="">
          </div>
          <div class="mineName">david</div>
        </div>
      </div>
    </div>

    <div class="list">
      <div class="img">
        <img src="../../../assets/img/fj.jpg" alt="">
      </div>
      <div class="articleNameBox">
        <span class="articleName">article name</span>
      </div>
      <div class="moreDetail">
        <div class="detailBox">
          <mat-icon class="iconSize">visibility</mat-icon>
          <span class="smallLeft">300</span>
        </div>
        <div class="detailBox moreLeft">
          <mat-icon class="iconSize">announcement</mat-icon>
          <span class="smallLeft">2</span>
        </div>
        <div class="grow"></div>
        <div class="me">
          <div class="MinePhoto">
            <img src="../../../assets/img/fj.jpg" alt="">
          </div>
          <div class="mineName">david</div>
        </div>
      </div>
    </div>

    <div class="list">
      <div class="img">
        <img src="../../../assets/img/fj.jpg" alt="">
      </div>
      <div class="articleNameBox">
        <span class="articleName">article name</span>
      </div>
      <div class="moreDetail">
        <div class="detailBox">
          <mat-icon class="iconSize">visibility</mat-icon>
          <span class="smallLeft">300</span>
        </div>
        <div class="detailBox moreLeft">
          <mat-icon class="iconSize">announcement</mat-icon>
          <span class="smallLeft">2</span>
        </div>
        <div class="grow"></div>
        <div class="me">
          <div class="MinePhoto">
            <img src="../../../assets/img/fj.jpg" alt="">
          </div>
          <div class="mineName">david</div>
        </div>
      </div>
    </div>

    <div class="list">
      <div class="img">
        <img src="../../../assets/img/fj.jpg" alt="">
      </div>
      <div class="articleNameBox">
        <span class="articleName">article name</span>
      </div>
      <div class="moreDetail">
        <div class="detailBox">
          <mat-icon class="iconSize">visibility</mat-icon>
          <span class="smallLeft">300</span>
        </div>
        <div class="detailBox moreLeft">
          <mat-icon class="iconSize">announcement</mat-icon>
          <span class="smallLeft">2</span>
        </div>
        <div class="grow"></div>
        <div class="me">
          <div class="MinePhoto">
            <img src="../../../assets/img/fj.jpg" alt="">
          </div>
          <div class="mineName">david</div>
        </div>
      </div>
    </div>

    <div style="clear: both;"></div>

  </div>
</div>
